<head>
  <title>Resend confirmation instructions</title>
  <%= stylesheet_link_tag 'reset_confirm.css' %>
</head>
<div class="head-container">
  <h2 class="rescon-title">Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="rescon-field">
      <%= f.label :email, class:"rescon-label"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "rescon-input"  %>
    </div>

    <div class="rescon-actions">
      <%= f.submit "Resend confirmation instructions", class: "rescon-button"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
