<!-- app/views/courses/show.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title><%= @course.title %></title>
  <%= stylesheet_link_tag 'show_course.css' %>
</head>
<body>
  <div class="course-show">
    <h1><%= @course.title %></h1>
    <p><%= @course.description %></p>
    <h2>Chapters</h2>
    <ul class="chapters-list">
      <% @course.chapters.each do |chapter| %>
        <li><%= link_to chapter.name, course_chapter_path(@course, chapter) %></li>
      <% end %>
    </ul>
    <%if can? :manage, @course%>
     <%= link_to "Create New Chapter", new_course_chapter_path(@course), class: "btn-primary" %>
    <%end%>
  </div>
  <br><br>
  <% if can? :manage, @course %>
      <%= link_to "Back to Course Catalog", authenticated_instructor_root_path, class:"button"%>
      <%= link_to "Edit Course", edit_instructor_course_path(@course.instructor,@course), class:"button" %>
      <%= link_to "Delete Course", instructor_course_path(@course.instructor,@course), class:"button", data: { 'turbo-method': :delete}%>
  <% else %>
      <%= link_to "Back to Course Catalog", course_path, class:"button"%>
</body>
</html>
