<!-- app/views/courses/show.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title><%= @course.title %></title>
  <%= stylesheet_link_tag 'show_course.css' %>
</head>
<body>
  <div class="course-container">
    <div class="course-header">
      <h1><%= @course.title %></h1>
      <p class="instructor">Instructor: <%= @course.instructor.name %></p>
    </div>
    <div class="course-details">
      <div class="course-description">
        <p><%= @course.description %></p>
      </div>
      <div class="course-image">
        <%= image_tag @course.image %>
      </div>
    </div>
    <div class="course-info">
      <p class="price">Price: <%= number_to_currency(@course.price) %></p>
      <p class="language">Language: <%= @course.language %></p>
      <p class="requirements">Requirements: <%= @course.requirements %></p>
    </div>
    <div class="chapters">
      <h2>Chapters</h2>
      <ul>
        <% @course.chapters.each do |chapter| %>
          <li><%=link_to chapter.name, course_chapter_path(@course, chapter) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</body>
</html>
