<head>
  <title><%= @chapter.name %> Details</title>
  <%= stylesheet_link_tag 'chapter_show.css' %>
</head>

<body>
  <div class="chapter-details">
    <h1 class="chapter-name"><%= @chapter.name %> Details</h1>

    <div class="chapter-content">
      <h2 class="headings">Content:</h2>
      <p class="content"><%= @chapter.content %></p>
    </div>

    <div class="chapter-files">
      <h2 class="headings">Chapter Files:</h2>
      <div class="file-links">
        <% if @chapter.quiz.attached? %>
          <a href="<%= url_for(@chapter.quiz) %>" download>Download Quiz</a>
        <% end %>
        <% if @chapter.assignment.attached? %>
          <a href="<%= url_for(@chapter.assignment) %>" download>Download Assignment</a>
        <% end %>
      </div>
    </div>
    <div class="submission-container">
      <% if @chapter.quiz.attached? && @chapter.assignment.attached? %>
        <%= form_with url: course_chapter_chapter_results_path(@chapter.course, @chapter), method: :post do |f| %>
          <div class="quiz-submission">
              <%= f.label :attempted_quiz, "Submit Quiz" %>
              <%= f.file_field :attempted_quiz %>
          </div>
          <div class="assignment-submission">
              <%= f.label :attempted_assignment, "Submit Assignment" %>
              <%= f.file_field :attempted_assignment %>
          </div>
            <%= f.submit "Submit", class: "button" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br>
  <div>
    <%= link_to "Back to Course", course_path(@chapter.course), class:"button"%>
    <% if can? :manage, @chapter %>
      <%= link_to "Edit Chapter",  edit_course_chapter_path(@chapter.course, @chapter), class:"button" %>
      <%= link_to "Delete Chapter", course_chapter_path(@chapter.course, @chapter), class:"button", data: { 'turbo-method': :delete}%>
    <% end %>
  </div>
</body>


